streamlit>=1.32
pandas>=2.0
numpy>=1.24
altair>=5.0
matplotlib>=3.7
networkx>=3.0
python-louvain>=0.16
pyvis>=0.3.2
folium>=0.14
streamlit-folium>=0.15
wordcloud>=1.9
vaderSentiment>=3.3
pycountry>=23.12
plotly>=5.18
statsmodels>=0.14